/* src/css/elementos.css */

.back-button {
    position: absolute;  /* Posiciona el botón de forma absoluta */
    top: 20px;  /* Distancia desde la parte superior */
    left: 20px;  /* Distancia desde el borde izquierdo */
    padding: 10px 20px; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.back-button:hover {
    background-color: #0056b3;
}

