/* Estilos básicos para el header */
.header {
  background-color: #44b670;
  padding: 20px 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  position: relative;
  flex-wrap: wrap;
}

/* Logo y título */
.header .header-content {
  display: flex;
  align-items: center;
}

.header .header-title {
  font-size: 2rem;
  margin-left: 10px;
  line-height: 1.2;
}

.header .logo {
  font-size: 4rem;
  color: #f3fcf3;
  margin-right: 5px;
  margin-left: 50px;
}

/* Barra de navegación */
.nav-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #df4747;
}

/* Dropdown para categorías */
.dropdown {
  position: relative;
}

.dropbtn {
  background-color: #19755a;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 12px 18px;
  margin-right: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4ddd7d;
  min-width: 160px;
  z-index: 1;
  top: 40px;
  left: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #4fa570;
  color: black;
}

/* Estilo para la barra de búsqueda */
.search-write {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 3px 8px;
  border-radius: 5px;
}

.search-write input {
  border: none;
  outline: none;
  padding: 5px 8px;
  margin-right: 5px;
  font-size: 0.9rem;
  border-radius: 5px;
  width: 150px;
}

.search-write .icon {
  font-size: 1.2rem;
  cursor: pointer;
  color: #2e3b4e;
}

.search-write input::placeholder {
  color: #aaa;
}

/* Estilos para el icono del carrito */
.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #df4747;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 50%;
  min-width: 20px;
  text-align: center;
}

/* Media Queries para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
  /* Ajustes en el header */
  .header {
    padding: 15px 20px;
    flex-direction: column;
    justify-content: center;
  }

  .header .logo {
    font-size: 3rem;
    margin-left: 0;
  }

  .header .header-title {
    font-size: 1.5rem;
  }

  /* Ajustes en los enlaces de navegación */
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .nav-links a {
    margin: 5px 0;
    font-size: 1rem;
  }

  /* Ajustes en la barra de búsqueda */
  .search-write {
    width: 100%;
    margin-top: 10px;
  }

  .search-write input {
    width: 100%;
    font-size: 1rem;
    padding: 8px;
  }
}

  