/* Estilos básicos para el header */
.header {
    background-color: #44b670; /* Color de fondo oscuro */
    padding: none; /* Espaciado superior e inferior */
    color: white; /* Color del texto */
    display: flex;
    justify-content: space-between; /* Distribuye el contenido con espacio entre */
    align-items: center; /* Centra los elementos verticalmente */
    font-family: Arial, sans-serif; /* Fuente de texto */
    position: relative;
  }
  
  /* Logo y título */
  .header .header-content {
    display: flex;
    align-items: center;
  }
  
  .header .header-title {
    font-size: 1.5rem;
    margin-left: 10px;
    line-height: 1.2;
  }
  
  .header .logo {
    font-size: 3.5rem; /* Tamaño grande para el logo */
    color: #fcf3f3; /* Color amarillo para el logo */
    margin-right: 5px;
    padding-left: 130px;
    
  }
  
  /* Barra de navegación */
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 1rem;
    transition: color 0.3s ease; /* Efecto de transición para cambiar el color */
  }
  
  .nav-links a:hover {
    color: #df4747; /* Cambia el color cuando el mouse pasa por encima */
  }
  
  /* Dropdown para categorías */
  .dropdown {
    position: relative;
  }
  
  .dropbtn {
    background-color: #9dc4b8;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 15px;
    margin-right: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2e3b4e;
    min-width: 160px;
    z-index: 1;
    top: 40px;
    left: 0;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #7fc3e2;
    color: black;
  }
  
  /* Estilo para la barra de búsqueda */
  .search-write {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
  }
  
  .search-write input {
    border: none;
    outline: none;
    padding: 8px 10px;
    margin-right: 5px;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .search-write .icon {
    font-size: 1.2rem;
    cursor: pointer;
    color: #2e3b4e;
  }
  
  /* Estilos para la barra de búsqueda cuando se usa un icono de búsqueda */
  .search-write input::placeholder {
    color: #aaa;
  }
  
  